secrets.yaml
.vscode/
__pycache__/
python-for-excel-1st-edition.zip
python-for-excel-1st-edition/
book-mlearn-2-master.zip

DataAnalysis/
DeepLearning/
NadoCoding/
OfficeWorks/
course_participants.csv
course_participants.xlsx
course_participants2.csv
first_udf/
git_test/
gui_basic/
my_requirements.txt
my_requirements_.txt
pieces_practice/
rpa_basic/
test1.ipynb
test3.py
test4.ipynb
test6.py
wlxings_basic/